#deco{
	display: none;
}
body{
	background-image: url(../img/image.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

}
.custom-file-label::after {
   content: "Charger une image";
}
.hand{
	cursor:pointer;
}
#inputState2{
	/* display: none; */
}
footer{
	background-color: #dee1ec;
}